@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
body {
  background-color: #f7f5f5; }

.cat-carousel-wrapper {
  width: 100%;
  position: relative; }
  .cat-carousel-wrapper #catsCarousel {
    width: 100%;
    display: flex;
    padding: 40px 0;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transform-style: preserve-3d; }
    .cat-carousel-wrapper #catsCarousel .slide-card {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
      min-width: 25%;
      height: 40vh;
      margin: 10px 20px;
      background-color: white;
      display: flex;
      box-sizing: border-box;
      z-index: 100;
      transition: all 200ms;
      cursor: pointer;
      position: relative; }
      .cat-carousel-wrapper #catsCarousel .slide-card:hover {
        transform: translateY(-4px) scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
      .cat-carousel-wrapper #catsCarousel .slide-card img {
        min-width: 100%;
        min-height: 100%;
        transition: all ease 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%); }
      .cat-carousel-wrapper #catsCarousel .slide-card img:hover {
        transform-style: preserve-3d;
        transform: translate(-50%, -40%);
        filter: brightness(1.2); }
      .cat-carousel-wrapper #catsCarousel .slide-card h2 {
        position: absolute;
        width: 100%;
        color: aquamarine;
        top: 40%;
        text-align: center;
        font-size: 40px; }
      .cat-carousel-wrapper #catsCarousel .slide-card span {
        display: none;
        position: relative; }
    .cat-carousel-wrapper #catsCarousel .slide-card.active,
    .cat-carousel-wrapper #catsCarousel .slide-card.initial {
      opacity: 1;
      z-index: 900;
      transform: translateX(100%); }
    .cat-carousel-wrapper #catsCarousel .slide-card.prev {
      z-index: 800;
      transform: translateX(-100%); }
  .cat-carousel-wrapper .button--next,
  .cat-carousel-wrapper .button--prev {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid #bdbdbd; }
  .cat-carousel-wrapper .button--prev {
    left: 0; }
  .cat-carousel-wrapper .button--next {
    right: 0; }
  .cat-carousel-wrapper .button--next::after,
  .cat-carousel-wrapper .button--prev::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid #5a5a5a;
    border-bottom: 2px solid #5a5a5a;
    transform: translate(-50%, -50%) rotate(135deg); }
  .cat-carousel-wrapper .button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg); }

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; }
    .modal.open h1 {
      margin: auto; }
  .modal-bg {
    position: absolute;
    background: grey;
    width: 100%;
    height: 100%;
    opacity: 0.2; }
  .modal-container {
    border-radius: 15px;
    background: #fff;
    position: relative;
    padding: 50px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
  .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0;
    font-weight: bold;
    cursor: pointer; }

#searchbar {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #b4b4b4;
  outline: none;
  margin: 30px 10px; }

input[type="text"] {
  width: 37%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out; }

input[type="text"]:focus {
  width: 55%; }

.cats-grid .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  flex-wrap: wrap; }
  .cats-grid .grid .cat {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    .cats-grid .grid .cat figure {
      max-height: 400px;
      margin: 0;
      width: 100%;
      overflow: hidden; }
    .cats-grid .grid .cat img {
      width: 100%; }
    .cats-grid .grid .cat .catName {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 20px;
      margin: 10px 10px; }
      .cats-grid .grid .cat .catName h2 {
        margin-left: 10px; }
      .cats-grid .grid .cat .catName button {
        color: green;
        justify-content: center;
        border-radius: 10px;
        margin: 15px;
        background-color: aquamarine;
        cursor: pointer; }
    .cats-grid .grid .cat .color-age {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      margin: 10px 10px;
      font-size: 20px; }

#show-more {
  float: right;
  padding: 10px;
  margin: 20px;
  border-radius: 5px; }

@media screen and (max-width: 800px) {
  .cats-grid .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap; }
    .cats-grid .grid .cat catName {
      margin: 0; }
    .cats-grid .grid .cat .color-age {
      font-size: 14px; } }
